* {

    margin: 0;
    padding: 0;
}

.top-header {

    background-color: #266150;
    color: white;
    text-align: right;
    width: 100%;
    height: 50px;

    border-bottom: 10px solid #DDAF94;
}

li {
    display: inline;
    padding: 10px;
    font-size: large;
}

h1 {

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #35251c;

}

img {

    display: block;
    margin: 20px auto;



}

.center {
    text-align: center;
}

.brownbox {

    background-color: #E8CEBF;
    margin: 0px auto;
    padding: 10px;
    border-radius: 20px;
    display: block;



}

.center {

    display: contents;
}


h2 {
    font-size: xx-large;
    text-align: center;

}

.littleForm {
    text-align: center;


}

form {
    margin: 10px solid brown;

}

footer {

    background-color: #266150;
    text-align: center;
    color: white;
    font-size: xx-large;
    margin-bottom: 0;
    padding-bottom: 0;
}